<ion-menu [content]="nav" item-left>
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list >
            <button ion-item icon-left (click)="onLoad(displayPage)" *ngIf="isAuthenticated">
                <ion-icon name="home"></ion-icon>
                    Home
            </button>
            <button ion-item icon-left (click)="onLoad(signinPage)" *ngIf="!isAuthenticated">
                <ion-icon name="log-in"></ion-icon>
                Sign In
            </button>
            <button ion-item icon-left (click)="onLoad(registerPage)" *ngIf="!isAuthenticated">
                <ion-icon name="person"></ion-icon>
                Sign Up
            </button>
            <button ion-item icon-left (click)="onLogout()" *ngIf="isAuthenticated">
                <ion-icon name="log-out"></ion-icon>
                Log Out
            </button>

        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #nav></ion-nav>
